[2014-02-26 14:05] verdverm opened #1 "update banner message"
The banner message printed when revel starts needs to be updated to `revel.github.io`

[2014-02-26 15:25] #1 closed, assigned to nobody

[2014-04-11 18:29] pushrax opened #4 "Wrong template path on Windows"
See original https://github.com/revel/revel/issues/575

[2014-07-21 22:23] tamasd opened #7 "ignoring files"
It would be really great if the revel cmd can ignore files on build/package. I have a quite large `bower_components` directory which is not needed at all on deployment.

[2014-07-21 22:26] tamasd opened #8 "run shell commands before build"
I use Revel with angular and foundation. I compile the required JS manually into one minified JS file, and I compile the necessary SASS files into one minified CSS. It would be really great if Revel can do this compiling automatically for me on build/package.

[2014-08-05 10:12] viblo opened #9 "Custom vendoring panics revel"
I have a project with a custom vendoring solution which breaks with the revel tool.

My folder layout is something like this:

[code]

(inside the /vendor/src dir are all other 3rd party dependencies, just not listed here)
Then I build my project with a makefile which does this to build program1, program2:

[code]

To build revel (the cmd tool):

[code]

But then when I try to run the web site wit

[2014-08-06 08:34] viblo opened #10 "Custom build args to revel package"
Please add a way to pass build flags when running / building with revel.

I have a number of (rest)services all using the same structure and then one web site made with revel. For the services I have a makefile which pass in date and git revision as ldflags, and a couple of build tags.

In the end it becomes something like this

[code]

I would like the same to be passed to our revel web site, so

[2014-08-14 17:19] #8 closed, assigned to nobody

[2014-08-18 06:40] #9 closed, assigned to brendensoares

[2014-10-16 14:46] #4 closed, assigned to pushrax

[2015-01-03 07:38] pedromorgan opened #16 "BUG: wrong samples"
The cmd currently shows

     github.com/revel/revel/samples/chat

instead of

       github.com/revel/samples/chat

eg
For example, to run the chat room sample application:

    revel run github.com/revel/revel/samples/chat dev

[2015-01-03 07:46] brendensoares commented on #16
https://github.com/revel/cmd/blob/develop/revel/package.go#L20

They're been updated on the `develop` branch. Make sure you're using the same branch for all the repos.

[2015-01-03 07:46] #16 closed

[2015-01-09 15:35] pedromorgan opened #18 "More helpers"
Ok so here is me working on a new revel project..

and I kinda want more command..
eg
new controller

make it easy for boiler plate

[2015-01-14 08:07] brendensoares commented on #18
This has been discussed and is [scheduled for v0.14](https://github.com/revel/revel/wiki/Roadmap#v014-see-issues). See the work in progress: https://github.com/kishorevaishnav/revelgen @kishorevaishnav

[2015-01-14 08:07] #18 closed

[2015-01-24 05:15] brendensoares opened #19 "Add `revel version` command"
To support new version files and their attributes revel/revel#858

[2015-02-11 13:20] pedromorgan opened #21 "add `revel develop` command"
the scenrrio is that..

One is hacking away at an application..
- and using stable master version

But one want to switch to the "develop" mode and thus
- test revel stuff against future
- allow hacking of code etc..

So idea is to create command
- revel develop on = will grab latest revel branch and head
- revel develop off = will switch back to previous code
- this means all repos will have to s

[2015-02-11 13:28] pedromorgan commented on #21
Scneraio

Am seriosuly hacking away at
https://github.com/daffodil/factory-planner

And I wannt to switch between the current version and next mixed version

Impossible..

So maaybe the next version is the one where we can make this possible..

[2015-02-11 17:01] notzippy commented on #21
You can easily switch between versions by adjusting your gopath ev,

Open two shells
Specify different gopaths and fetch revel in each
In one of the paths modify the checked out branch to develop for all revel repositories (git checkout -b develop), recompile (go build github.com/revel/cmd)
Now append your project path to each of the gopaths in the shells - or if your lazy symlink it.
Now you can

[2015-02-11 17:44] anonx commented on #21
@pedromorgan  Check it:
[code]
Use the following commands in your shell:
* `revdev on` to switch to develop branch
* `revdev off` to switch back to master

Everything will be checked out automatically and revel cmd will be recompiled.

[2015-02-12 02:10] brendensoares commented on #21
I like @anonx's solution. Anything beyond that could get complex as @notzippy said.

[2015-04-02 01:03] pedromorgan opened #29 "Docs Issues"
Can someone from the core team explain how I

-  go and hack revel/cmd/revel
ie how to modify go and go run..

Need to add this to the manual

- pattern/recipie for creating a new comand

[2015-04-02 15:27] notzippy commented on #29
Does this help ?

A new file is created and a command instance is [instantiated](https://github.com/revel/cmd/blob/master/revel/clean.go#L10-L22).

An init method is added to assign the [Command.Run function](https://github.com/revel/cmd/blob/master/revel/clean.go#L24-L26)

The Command.Run function is called passing any additional arguments made on the command line

Commands are added to the []*Co

[2015-04-02 15:33] pedromorgan commented on #29
lovely lovely....

I honestly aint got time to study code myself... so this is appreciated

[2015-04-03 20:42] brendensoares commented on #29
:+1: team work. Love it.

[2015-04-05 23:42] pedromorgan commented on #29
Openign this again cos It aint compalted...

[2015-04-17 05:56] brendensoares commented on #29
@pedromorgan if it isn't complete then what is left and do you need more help?

[2015-04-17 11:55] anonx commented on #7
It's old so closing. I'll reopen if we get more input.

[2015-04-17 11:55] #7 closed

[2015-10-13 05:07] PradheepShrinivasan opened #36 "revel panics with invalid memory address or nil pointer dereference"
Currently when we create the build target directory in the same path as that of the revel panics

Pradheep testapp $ pwd
/Users/Pradheep/mailbox/src/testapp
Pradheep testapp $ revel build testapp ./tmp/
~
~ revel! http://revel.github.io
~
INFO  2015/10/12 12:56:55 revel.go:329: Loaded module static
INFO  2015/10/12 12:56:55 revel.go:206: Initialized Revel v0.12.0 (2015-03-25) for >= go1.3
INFO  20

[2015-12-06 20:47] pedromorgan commented on #36
Is this still valid ?

[2015-12-06 20:48] PradheepShrinivasan commented on #36
Yes ,

[2015-12-06 21:20] pedromorgan commented on #36
Umm.. so u aint got revel working at all right ?

[2015-12-06 21:35] PradheepShrinivasan commented on #36
I am able to make it work.

The problem is that the program crashes when you try to build with destination directory of build inside the revel path

[2016-05-23 04:13] jeevatkm opened #45 "Repo cmd/{revel, harness} - coding convention for logger"
Currently `cmd` repo uses following:
* `errorf(...`
* `fmt.Fprintf(os.Stderr...`
* `revel.{ERROR,...}...`

To improve & keep consistent codebase across `Revel`. After v0.13 release, I will be circle back to this. I would like to use either `revel.{loggers}` or `fmt.{...}`

Any thoughts?

[2016-05-23 06:23] pedromorgan commented on #45
the `revel.*` would my preference, mainly as the loggers can be easily defined in the app.conf

[2016-05-23 06:26] jeevatkm commented on #45
Thanks @pedromorgan, yes I agree. I will go with `revel.{logger}`.

[2016-05-24 06:42] jeevatkm commented on #29
@pedromorgan I wonder, can I give it try what you need for docs? Please let me know.

[2016-05-24 06:43] jeevatkm opened #46 "Refactor path.* => filepath.* case by case"
To make Revel more compatible with the targeted operating system-defined file paths. Goal is prevent OS related filesystem path issues.

Example:
From
[code]
To
[code]

[2016-05-24 07:14] alkchr commented on #46
It's not `effort-minutes`. You'll see it will take much more time. Especially taking into account the fact Revel has a weak test coverage.
Apart from that, I'd like to warn you against using of `filepath.Join` everywhere thoughtlessly. Revel converts paths to import paths, saves paths in the template. When you start implementing this you'll see there is more benefit in using normalized (*nix style

[2016-05-24 15:16] jeevatkm commented on #46
@alkchr thanks for your suggestion and inputs. Yes I agree on test coverage, I'm planning work on test coverage after v0.13 release. It may not happen overnight but gradually we can increase it. If you can spare sometime for test coverage and submitting PR it would be great. I highly appreciate your help and effort.

While working on PRs #14 and [1028](https://github.com/revel/revel/pull/1028) I a

[2016-05-26 13:26] ptman commented on #10
I'd also link to change `-ldflags`, primarily to add `-s -w` in order to produce smaller binaries. Also `CGO_ENABLED`, would be interesting to set, but that is kept from the environment currently.

[2016-05-28 18:08] jeevatkm commented on #19
Done!

[2016-05-28 18:08] #19 closed

[2016-06-06 07:31] ptman commented on #10
Actually, with the release of 0.12 I ran into an issue with https://github.com/revel/cmd/blob/master/harness/build.go#L83 as well. I use a distro provided go compiler and compile using CGO_ENABLED=0. This fails with

    go install net: open /usr/lib/go/pkg/linux_amd64/net.a: permission denied

unless I remove the `-i` argument. This should probably also be configurable.

[2016-06-06 19:23] jeevatkm commented on #45
It's better to wait till this is ready revel/log#1

[2016-06-06 19:34] jeevatkm commented on #36
@PradheepShrinivasan Can you please try with `v0.13`?  It is fixed.

Steps:
[code]

[2016-06-06 19:36] jeevatkm commented on #29
Since we are gonna work on revel/www#1, things will be taken care on that.

I'm closing this one.

[2016-06-06 19:36] #29 closed

[2016-06-07 01:31] jeevatkm commented on #46
Started working on...

[2016-06-07 07:23] jeevatkm commented on #46
Done!

[2016-06-07 07:23] #46 closed

[2016-06-07 08:55] Rcio opened #47 "After `go get` newest commit. `revel packag`e generates a run.sh with "-runMode <no value>""
Hi,

My CI system build my project on every commit, since last build, my project refuse to start up because of this start up shell.

![6389b81d-9ed3-4497-9ac2-c8a9717f4e42](https://cloud.githubusercontent.com/assets/1480607/15851507/a8a58462-2ccf-11e6-882b-5943277a51f2.jpg)

Is that a bug just merge to master? Or just I make some mistakes.

[2016-06-07 15:05] jeevatkm commented on #47
@Rcio `revel package` & `revel build` supports environment/run mode in the latest release. For your reference PR #14 and [docs](http://revel.github.io/manual/tool.html#quick-ref). Please update your CI process accordingly.

If you still face an issue, kindly provide us steps to reproduce this behavior.

[2016-06-07 15:45] alkchr commented on #47
@Rcio I cannot reproduce the described behaviour. Are you sure your `revel/cmd` is of the latest version (i.e. not just `revel/revel` was upgraded)? Command `go get -u github.com/revel/cmd/revel` must be called to achieve that.
Though, there is an issue. When running command `package`/`build` without the third optional argument it uses `dev` environment for me as the default. And I expect it to be

[2016-06-07 19:14] jeevatkm commented on #47
@alkchr Thanks for verifying it, every revel command default to dev if not supplied.

@Rcio please supply `runMode` for `revel package` command in your CI process.

[2016-06-08 04:16] alkchr commented on #47
@jeevatkm IMO that's a reasonable default for `revel run` but not for `revel build`. @revel/core, any thoughts?

[2016-06-08 16:41] jeevatkm opened #48 "Add `generate` or `create` command"
Taking PR #33 as a motivation for developing `generate` or `create` command to generate controller, model, etc.

[2016-06-08 17:52] jeevatkm commented on #47
@Rcio please share your response when you get a chance.

[2016-06-10 14:03] mageddo opened #49 "Add exclude .go sources option"
**As a** revel packager
**I want to** exclude `.go` files from the zipped file generated by `revel package` command
**Because** Is not wanted for me share my source files with the final user

A example, the [chat](https://github.com/revel/samples/tree/master/chat) sample. When I run

[code]

It generates the follow tree. This way my source code is exposed to the final user, I want that all files b

[2016-06-10 18:45] jeevatkm commented on #49
Thanks for creating an issue. It is scheduled for `v0.14`

[2016-06-10 18:48] jeevatkm commented on #36
I'm closing this one. Let us know if this issue pops up.

[2016-06-10 18:48] #36 closed

[2016-06-12 21:15] PradheepShrinivasan commented on #36
@jeevatkm  I tested it and its now working fine :)

Been busy last week so could not reply earlier

[2016-06-12 23:23] jeevatkm commented on #36
@PradheepShrinivasan Thanks for your confirmation.

[2016-06-15 12:48] paritosh90 opened #50 "-X flag requires argument of the form importpath.name=value"
I am getting following error on running revel app in development mode. I am posting logs below

[code]

Also on running revel build I am getting following error

[code]

Please help me with this issue.
I am using v0.12.0

[2016-06-15 17:52] jeevatkm commented on #50
@paritosh90 Thanks for reporting. I'm glad to assist you.

First of all you're using `Revel v0.13.1` not v0.12.0, please see your log
[code]

Kindly cross check your controller method params type, because this could happen in that scenario
[code]

Final one, this is surprise because I know this happens with golang `devel or tip` branch and `1.7-beta`. I'm not quiet sure how this is happening in Go

[2016-06-15 21:27] ottob commented on #50
harness/build.go:80
-versionLinkerFlags := fmt.Sprintf("-X %s/app.APP_VERSION \"%s\"", revel.ImportPath, appVersion)
+versionLinkerFlags := fmt.Sprintf("-X %s/app.APP_VERSION=\"%s\"", revel.ImportPath, appVersion)

I would like to see this fixed now that go1.7beta has been released. The new format for `-X` has been supported since Go 1.5.

[2016-06-15 22:30] jeevatkm commented on #50
@ottob Thanks for your inputs. I will surely apply your suggestion on develop branch also when 1.7 gets release we can make Revel release too :)

What I would like to confirm or need your help or @paritosh90, does it break with Go `1.6`? based on this I will prioritize this fix and release time.

[2016-06-15 23:20] jeevatkm opened #51 "Streamline Revel AppVersion and BuildTime and fix -X import.name=value"
While analyzing #50 and harness/build.go and auto generated `main.go` need attention.

- [x] Streamline Revel `AppVersion` and `BulidTime`; expose `<revel-app> -version` via main.go
- [x]  Apply `-ldflags` format change `-X import.name=<value>` also handle it based on Go version - fix via PR #55

[2016-06-16 00:06] jeevatkm opened #52 "Move revel/revel/skeleton into revel/cmd and perform required update"
- [x] Move Move `revel/revel/skeleton` into `revel/cmd/revel/skeleton`
- [x] Rename app.conf `timeout.*` to `http.timeout.*`

[2016-06-16 02:28] paritosh90 commented on #50
@jeevatkm I am sorry. I have installed go using gvm and it installed devel version. Its working after installing go1.6. :)

[2016-06-16 02:42] jeevatkm commented on #50
No issues, I will be applying fix as part of #51. Thanks.

I'm closing this one.

[2016-06-16 02:42] #50 closed

[2016-06-16 06:03] ottob commented on #50
I would argue that it is a good idea to get this fix in before 1.7 final is released so users can test their revel applications with 1.7. Why wait?

[2016-06-16 13:54] xoen opened #53 "undefined: revel.Walk on go get"
We use the `revel` command in this package to run the tests locally and on CircleCI.
It was working fine and it still works fine on my machine (with an older version of the packages) but it started to fail on CircleCI with the following error:

[code]

We use `godep` for the rest of the dependencies but we install revel using `go get` which unfortunately can't get a specific/older version of a pac

[2016-06-16 14:03] xoen commented on #53
This could be caused by this: https://github.com/revel/cmd/pull/20 - Looks like `Walk` is on last version of revel but not on the old one we're using (`v0.12.0-1-g83c6204 / 83c62046c726f36daec7a28a335521f94b2561a6` according to Godep).

[2016-06-16 14:28] xoen commented on #53
I'm trying to bump the `github.com/revel/revel` package (which is a bit scary). Tests seem to pass locally, hopefully it will not break anything.

Is [this config change](https://github.com/revel/revel/releases/tag/v0.13.0) the only required change on the code? Rename the `watcher = true` to `watch = true` in the `app.config` file?

[2016-06-16 17:13] jeevatkm commented on #53
@xoen - You may know this, however I will describe it.

`revel.Walk` is introduced in `v0.13.0` release, if you have correct version of `revel/revel` & `cmd/revel` you will not have any issues.

Let's say you already have `github.com/revel/revel` and `github.com/revel/cmd/revel` on GOPATH then to get an updated version, please use go get with `-u` to get updated version.
[code]

Next, yes only bre

[2016-06-16 18:12] jeevatkm commented on #50
@ottob Will do it before 1.7 final :)

[2016-06-17 08:33] xoen commented on #53
Hi @jeevatkm yep, `revel/cmd` is not part of our Godeps and we `go get` before running the tests. Unfortunately there is no way to `go get` a specific version therefore the issue (as I can't lock both packages).

I updated revel and so far we didn't see any problems (on staging).

[2016-06-17 12:51] xoen commented on #53
BTW, I think this can be closed as upgrade `revel/revel` solves the problem.

[2016-06-17 17:02] jeevatkm commented on #53
Thanks for your update, good to hear that. Just a thought may be you can try cloning specific version of `revel/cmd` from github tags corresponding to `revel/revel` as part of CI.

[2016-06-17 17:02] #53 closed

[2016-06-25 22:29] jeevatkm commented on #47
I'm closing this one.

[2016-06-25 22:29] #47 closed

[2016-06-29 01:55] jeevatkm commented on #51
Done!

[2016-06-29 01:55] #51 closed

[2016-06-29 01:55] jeevatkm commented on #52
Done!

[2016-06-29 01:55] #52 closed

[2016-07-19 19:15] worg opened #59 "revel run fails on golang 1.7rc2"
revel run fails with `-X flag requires argument of the form importpath.name=value` as the old syntax has been deprecated as mentioned on [Go 1.6 release notes](https://tip.golang.org/doc/go1.6#compiler) this change will land on 1.7

[2016-07-19 19:33] jeevatkm commented on #59
This has been taken care on `develop` branch need to push for master. Please refer #51.

[2016-07-19 21:06] #59 closed

[2016-07-19 21:21] jeevatkm commented on #59
@worg Thanks.

[2016-08-16 15:10] matsch01 opened #62 "-X flag requires argument of the form importpath.name=value"
Getting the following error in  /revel/cmd/blob/master/harness/build.go after upgrading to 1.7. Looks like it might be an issue with:

versionLinkerFlags := fmt.Sprintf("-X %s/app.APP_VERSION \"%s\"", revel.ImportPath, appVersion)

[2016-08-16 15:20] matsch01 commented on #62
Was fixed already.

[2016-08-16 15:20] #62 closed

[2016-08-16 23:00] pedromorgan opened #63 "Heaven for all = revel cmd"
Ok so here are petes complaints and stuff..
As a maintainer of le docs looking at this..
http://revel.github.io/quickstart/index.html

And embarassing..

So I nulke github.com/revel/ tonite and get it from start..

So a few annoying things we can help people with... IMHO

[2016-08-16 23:01] pedromorgan commented on #63
Is golang a dependancy problem vs .4 here and .6 on server.. then no..

So First problem..

revel -v

[2016-08-16 23:02] pedromorgan opened #64 "revel -v --version version"
All the command above "switches" to be accepted..

but also it most report current version vs future etc..

[2016-08-16 23:11] pedromorgan opened #65 "revel reinstall"
This is a new command that..

Nukes all existance of a machine.. and reinstalls the whole revel platform to latest version..

Good luck but we are pre v.1.0 and therefor we can play right ;_)

Also we can do `revel switch` which makes it easy for me to crap out and start again ;-)

[2016-09-02 15:51] #63 closed

[2016-09-02 15:54] pedromorgan opened #67 "revel dev"
the "dev" command will..

Check all the gh/revel/ repos and swithc modes

[code]

the command checkout and switched modules, revel et all accordingly..

[2016-09-02 16:00] pedromorgan commented on #67
Snag for any revel developer is to do the
# go get
and installed etc..

But as a developer one needs to
cd GOPATH/revel
and then checkout

So this command is a quick way to switch betdeen versions and branches ;-)

[2016-09-02 16:03] pedromorgan commented on #67
## go get detect
if github url == https.. and branch == master

else
switch urls and branches

[2016-09-23 16:26] bejayoharen commented on #50
I am seeing this issue with go 1.6. Is there a workaround?

$ revel version
~
~ revel! http://revel.github.io
~
Version(s):
   Revel v0.13.1 (2016-06-06)
   go1.6.2 darwin/amd64

[2016-09-23 16:30] jeevatkm commented on #50
This issue was fixed in #51. So take an updated revel/cmd

`go get -u github.com/revel/cmd/revel`

[2016-09-23 16:39] bejayoharen commented on #50
Okay, thanks. I was confused that the version number and release date were unchanged.

[2016-09-23 16:42] jeevatkm commented on #50
@bejayoharen no change in the framework side. just command line tool got updated for this issue.

[2016-10-13 06:15] brendensoares commented on #10
Reviewing open issues, this seems like it would still be valuable. Now it's just a matter of coordinating a solution.

[2017-03-05 19:22] notzippy commented on #67
This looks to be more of a job for documentation then something we really want to try to implement ourselves. If we are looking to do a release cycle month I think this can be closed, thoughts @pedromorgan ?

[2017-03-05 19:24] notzippy commented on #65
Revel is modular, contained under one folder `$GOPATH/src/github.com/revel`Removing that folder will remove revel. No need for this

[2017-03-05 19:25] #65 closed

[2017-03-05 19:30] notzippy commented on #21
Once again with a monthly release cycle as a goal I am closing this issue as unnecessary.

[2017-03-05 19:30] #21 closed

[2017-03-05 20:33] pedromorgan commented on #67
yea will make docs

[2017-03-05 23:29] pedromorgan commented on #67
Actually I do have thoughts..

The situation is that a standard revel install is via

go get github.com/revel/cmd
and this installs all revel/modules etc from master

Now say I want to switch to the develop "mode"
i need to enter the revel and modules (examples) and switch branch to develop

That's the idea in my head.. so i can then test latest develop branch, and switch back and forth at will

[

[2017-03-06 00:30] pedromorgan commented on #67
and all it does in psuedo code
[code]

But develop can also have a switch to check git@ vs http checkout etc

[2017-03-06 00:41] pedromorgan commented on #67
I think I need to create a new hackers page... to explain

branching problem et all
and namespace.. etc

But still think we need the
[code]

And while were at it, we need a console to sak questions
[code]

[2017-03-06 00:47] pedromorgan commented on #67
Oh and forgot..
[code]

[2017-03-06 06:30] notzippy commented on #67
I think what you are talking about here is some [package management tool](https://github.com/golang/go/wiki/PackageManagementTools) There are a lot and they can do what you ask. I think it is not necessary for us to reinvent the wheel on this.

[2017-03-07 18:58] notzippy opened #70 "Skeleton app is using alert-error"
Skeleton app is using `alert-error` instead of `alert-danger` css style for flash.html

[2017-03-07 20:32] pedromorgan commented on #70
Fix is here https://github.com/revel/cmd/pull/69

Just needs someone to commit

[2017-03-07 21:01] notzippy commented on #70
Looks good @pedromorgan added to next milestone build

[2017-03-11 00:55] pedromorgan commented on #70
Fixed https://github.com/revel/cmd/commit/adcebf9acafc57dc325b11052ebbe990064bc413

[2017-03-11 00:55] #70 closed

[2017-03-11 00:56] pedromorgan commented on #48
Want this..

[code]

[2017-03-13 16:27] notzippy opened #73 "Generate restful API skeleton"
Add ability to generate a skeleton framework that would be a pure restful interface, preferably using RAML (http://raml.org/) - Restful API Modeling Language. or maybe pluggable to use multiple

References
https://github.com/kishorevaishnav/revelgen
https://github.com/xeipuuv/gojsonschema

Aggregate from issues
https://github.com/revel/revel/issues/968
https://github.com/revel/revel/issues/120

[2017-03-24 22:37] Fyb3roptik opened #77 "Failed to parse port as integer: prod"
This issue stems from the below pull:
https://github.com/revel/cmd/pull/56

Edge case of running:
revel run my-app prod

Causes this error to pop up. Quick fix is to do the following:

reve run my-app/ prod

[2017-03-24 23:13] pedromorgan commented on #77
Sorry trying to triarge this.. but from what u explain..

[code]

[2017-03-25 01:06] brendensoares commented on #77
@pedromorgan basically, if you don't have a slash in the first arg it interprets it as a run mode. [Related code 1](https://github.com/revel/cmd/blob/master/revel/run.go#L68):
[code]

[Related code 2](https://github.com/revel/cmd/blob/master/revel/run.go#L68):
[code]

[2017-03-25 02:30] brendensoares commented on #77
@jeevatkm added this code in order to support `revel run` without explicitly providing an app's package path; it's determined by the current working directory and if it is nested inside the `$GOPATH`.

I think the fix for this issue is to not require the string format to include a slash, but rather to test the argument to see if it resolves to an actual path.

[2017-03-25 03:51] brendensoares commented on #77
Closing this pending the merge of #78. Thanks @Fyb3roptik for your help in describing this bug.

[2017-03-25 03:51] #77 closed

[2017-03-25 04:28] notzippy opened #80 "Remove error prone command line options"
Multiple command line options are error prone and call for weird guesses in code (see #78 , #77)
This proposal is to move the run mode and the port number into there own flagged parameters so they are not confused with the command or import path

[2017-03-25 04:42] notzippy opened #81 "Start a new project to rebuild revel command"
Currently the way revel cmd operates is that it is basically a bunch of function calls that dynamically build a couple of go files and launches them. The cmd program continues to run in the background (when in developer mode) to watch for source file changes and if detected it will trigger a rebuild and reload. This is all done with code that is loosely coupled together, and does not support unit

[2017-03-27 15:19] Fyb3roptik commented on #77
Glad I could help! Love the framework. Keep up the great work guys!

[2017-04-21 22:02] #73 closed

[2017-04-21 22:02] notzippy commented on #73
Merge to #81

[2017-04-21 22:12] notzippy commented on #10
Grouped with #81

[2017-04-21 22:13] #10 closed

[2017-04-26 13:33] terencechow opened #87 "go get github.com/revel/cmd/revel fails with undefined in revel/cmd/harness?"
Running `go get github.com/revel/cmd/revel`

results in the following errors:

No change to our repo. We use the heroku buildpack with dokku. Never had problems until today. What's going on? Sometimes  happens on our local machine sometimes does not. Always happens on our vm which is ubuntu 14.04. go version 1.5.1 revel 0.13

[code]

[2017-04-27 19:25] brendensoares commented on #81
- [ ] Add relative path support to all `revel` commands like `revel run`

[2017-05-03 01:35] brendensoares commented on #64
I don't understand what you mean by reporting current vs future, can you explain?

[2017-05-07 16:35] shawncatz commented on #80
we should work on rewriting the CLI, if we can do that as part of v0.16 that would be preferable. if not, we can rework the existing CLI for this issue.

[2017-05-10 05:37] shawncatz opened #92 "remove any references, dependencies related to golang < 1.7"
* fix versionLinkerFlags in build.go:91

[2017-05-12 18:06] notzippy commented on #80
#81

[2017-05-12 18:06] #80 closed

[2017-05-31 03:45] #81 closed

[2017-05-31 03:46] notzippy commented on #64
I am closing this as this will be covered by revel/cli#1

[2017-05-31 03:46] #64 closed

[2017-06-07 15:03] paritosh90 opened #94 "revel cmd installation failing"
Hi,
Installation for revel cmd started failing from morning. This has affected our deployment. Please help. Below is log for same

[2017-06-07 15:39] notzippy commented on #94
We just updated to revel to v0.16.0, it looks like some of your packages are older. Can you try a `go get -u gitub.com/revel/cmd/revel` and see if that works ?

[2017-06-07 16:21] paritosh90 commented on #94
@notzippy currently we are using revel v0.14.0 and our golang version is go1.6. If I update my revel package then we have to upgrade our go version as well to go1.7. This does not look like an viable option to me and with every new changes it is difficult to upgrade to new version.
Is there any other work around?
Also why there is no backward compatibility (as new fixes/changes should not affect o

[2017-06-07 16:23] notzippy commented on #94
Go 1.6 will be fine for revel.

[2017-06-07 16:25] paritosh90 commented on #94
For revel v0.16.0?

[2017-06-07 16:35] notzippy commented on #94
Yes, I just checked and verified this, I will create a PR to continue to be compatible for go 1.6

[2017-06-08 03:05] paritosh90 commented on #94
@notzippy: will revel v0.14.0 be compatible anymore? As installation is failing.

[2017-06-08 04:03] notzippy commented on #94
Version 15 likely had a number of changes that may affect your application. When we do a 1.0 release, we will maintain full backwards compatibility with that version.

When you deploy you should be deploying a prebuilt version (something compiled with `revel build` command) You can downgrade the revel in your gopath by going into each github.com/revel/* repo folder and checking out the tag `v0.14.

[2017-06-08 16:46] gardner commented on #94
Similar issue. I had older versions of golang installed as well.
[code]

Solved with: `go get -u github.com/revel/cmd/revel`

[2017-06-10 04:12] #94 closed

[2017-07-26 21:35] notzippy commented on #87
Not reproducable

[2017-07-26 21:35] #87 closed

[2017-07-26 21:36] notzippy commented on #48
Closing - to be implemented in revel/cli#1

[2017-07-26 21:36] #48 closed

[2017-07-26 21:40] notzippy commented on #49
Looking at https://github.com/src-d/go-billy to provide an abstraction layer so build can be generated to a single file and strip out any uneeded files along the way

[2017-07-26 22:10] terencechow commented on #87
For your info it is because you upgraded revel at the time and we were using the heroku build pack as part of our build process. We couldn't choose the revel version with the heroku buildpack and the heroku build pack used the latest revel, but our code was using a revel from a version before.

[2017-07-26 22:12] notzippy commented on #87
Ahh that makes sense, thanks for the update

[2017-10-20 17:50] MaxGabriel opened #105 "Potential CSRF vulnerability associated with skeleton's catch-all route"
Hi, I noticed that the skeleton project includes a catch all route that maps any HTTP verb to the named controller/action:

[code]

This creates a potential security vulnerability by allowing `GET` requests to access state-changing routes while bypassing CSRF protection. I know Revel doesn't bundle CSRF protection, but the standard behavior is to only check CSRF tokens on state-changing methods li

[2017-10-20 19:39] notzippy commented on #105
I totally agree that the catch all route does provide to much access and it isn't made clear enough in the documentation is an issue.

The reasoning behind having it is for rapidly developing the project, then as part of the development process you should remove the "catch all" and add in all the routes defined. A thought of mine was to add a special revel command to rebuild the route file, and th

[2017-10-20 22:17] MaxGabriel commented on #105
Cool, thanks for the quick response @notzippy.

[2017-11-01 20:24] #105 closed

[2017-11-26 21:21] JeremyLoy opened #111 "'Import path' treated inconsistently between 'run' and 'build/package/clean/test'"
`revel run`, with no additional parameters, works perfectly when the current directory is the project root.

`revel build`, `package`, `clean`, and `test` only work if the `import_path` parameter is explicitly provided.

It is unclear by reading the documentation if this is intended behavior or not for `revel run`.

Personally, I think assuming the `import_path` as `.` if not provided would be a g

[2017-12-18 22:22] notzippy opened #113 ""Runtime error: Invalid memory address" when starting app"
_From @lezorich on December 18, 2017 21:19_

I'm currently working with revel 0.18.0 and golang 1.9. Everything was working fine, but now when I try to start the app with `revel run` I started to get this exception:

[code]

What can be going on?

_Copied from original issue: revel/revel#1286_

[2017-12-18 22:31] notzippy commented on #113
@lezorich

Looks like the `revel/cmd` package ran into an issue inspecting the source code. If you add the following to [this file ](https://github.com/revel/cmd/blob/master/harness/reflect.go#L222)
[code]
Then do a `go build github.com/revel/cmd/revel`. It should print out the problem files name before the exception. Let me know what you find so I can add a check for this in the code.

[2017-12-20 12:17] lezorich commented on #113
@notzippy Thanks for your help. I finally removed the `vendor/` and everything works as before.

[2018-01-11 00:42] Acidic9 commented on #113
Actually, I'm having this same issue.

I cannot even run the skeleton app after adding a simple redirect...

I run `revel new reveltest`

In `app.go`:

[code]

in `routes`:

[code]

That is all I changed, and after running `revel run` and attempting to load the site, I receive the following panic:

[code]

[2018-01-30 18:06] notzippy commented on #113
Resolved on develop

[2018-01-30 18:06] #113 closed

[2018-02-08 00:51] PedroHVasconcelos opened #118 "Add MIT license to repo"
Would be possible add MIT license to this repo like the revel/revel project?

[2018-02-11 01:36] lokhman opened #119 "DefaultValidationKeys generated with wrong line for multiline check"
Consider the following code for validation:

[code]

And this is what `revel/cmd` will generate in `tmp/main.go`:

[code]

Line `25` from the generated code is the last line of a multiline statement, whereas `runtime.Caller(2)` from [`revel/validation.go`](https://github.com/revel/revel/blob/release/v0.19.0/validation.go#L216) will return line `22`. Due to this bug keys in validation errors become

[2018-02-12 06:22] notzippy commented on #119
Yup that isnt right, I did a PR to fix a different issue where if controller.Render was multilined it would generate the wrong line number to extract the variable names. (see [here](https://github.com/revel/cmd/commit/2d4ccf289cd2e367eedca7f834fd497349b7f3c8)) If you change that back to left `Rparen` (and rebuild revel) does it work ? if so Revel will need to track both the right and left sides...

[2018-02-12 15:42] lokhman commented on #119
@notzippy I think the problem was in using wrong method [here](https://github.com/revel/cmd/blob/master/harness/reflect.go#L601). If you replace `.End()` with `.Pos()` line gets identified correctly (tested on my machine). Made pull request, I don't see any possible issues with the change.

[2018-02-12 18:36] notzippy commented on #119
Thanks I will check it out later tonight

On Mon, Feb 12, 2018, 7:42 AM Alexander Lokhman <notifications@github.com>
wrote:

[2018-02-20 15:03] Zauberstuhl opened #121 "Print test result on failure to console"
I am using travis and if something fails I see in the log
[code]

That's not very helpful. Why not simply printing the stack to stdout?

Cheers,
Lukas

[2018-03-02 03:39] PedroHVasconcelos commented on #118
I'm closing this issue. As a license is something too particular, I opened this item to ask before use it. but after no answer, I decided not use it.

[2018-03-02 03:39] #118 closed

[2018-05-24 04:07] intel352 opened #124 "Typo in log output"
https://github.com/revel/cmd/blob/97ec1422620f1a83cd13738708a109fe092364ca/harness/reflect.go#L226

`Exaiming` should be `Examining`.

[2018-05-31 17:15] intel352 opened #125 "Skeleton prod config generates invalid log filenames"
https://github.com/revel/cmd/blob/97ec1422620f1a83cd13738708a109fe092364ca/revel/skeleton/conf/app.conf.template#L200-L202

`%(app.name)` should be `%(app.name)s`

Because of the missing `s`, the resulting log names (when printed from cli):
[code]
Note the requests log is the only one that has the correct format in the generated config.

[2018-07-12 05:45] notzippy opened #126 "Test does not use vendor path to run tests"
`revel test` should use vendor path and then GOPATH. currently only uses GOPATH
see revel/revel#1349

[2018-09-14 23:04] notzippy commented on #125
Thanks for pointing this out

[2018-09-14 23:15] notzippy commented on #121
The test result does go out the stand output, but I have added a log output now as well.

[2018-09-21 17:13] #126 closed

[2018-09-21 17:18] notzippy commented on #119
Merged

[2018-09-21 17:18] #119 closed

[2018-09-24 04:12] Emyrk opened #139 "Revel and Versioning"
Each time revel updates, all my docker builds break as the recommended way to get the revel cmd is by the `go get` command.

Can a dependency file please be created and maintained? Go Deps or Glide, or something?

[2018-09-24 18:09] brendensoares opened #140 "`revel` CLI command args vs flags"
This could apply to other `revel` commands as well, but we need to standardize and document the convention.

Each command, like `new` has required and optional fields.

- Required fields SHOULD directly follow the command in a defined sequenced eg. `revel new APPNAME`
- Optional fields SHOULD use flags eg. `-opt value` or `-opt=val` following the required fields.

[2018-09-24 18:14] brendensoares opened #141 "`revel new` app name new file path"
Due to the many ways to define the app name and location, it can end in an unexpected result.

For example: `revel new $GOPATH/myapp` would end up in `$GOPATH/src/myapp`.

To avoid confusion, we SHOULD either:
- explicitly show the resulting file path of the new app project (based on clever rules of interpretation)
- deny ambiguous values (instead of being clever).

PS - we'll also need to documen

[2018-09-24 18:34] brendensoares commented on #140
I would argue that no matter how we collect options from the user, we still need to check for errors. If the app name is `myapp` and the target(aka mode) is `prod`, the `build` command still should make sure the value given matches the options. I can't imagine there being overlapping values between app name and target modes.

Also, flags can be just as ambiguous to a human, though it does help wit

[2018-09-24 18:40] brendensoares commented on #140
Worth mentioning, Revel's cli follows the example of `go`'s:

[code]

We should differentiate args vs flags. I'll update the issue title.

[2018-09-24 19:32] notzippy commented on #139
Did your builds fail due to a dependency change in revel/cmd or revel/revel ?

[2018-09-24 21:10] notzippy commented on #140
The jessevdk/go-flags allows us to pull the "args" from the remainder of the command so the revel <command> [flags] [args] is actually easy to implement. All that needs to be done is add a validate method to the command so that the minimium commands are implemented

[2018-09-25 00:00] brendensoares commented on #139
@Emyrk can you provide some error messages that you see from your docker containers?

Also, Revel does have vendor support (thanks to @notzippy). Have you checked it out?

[2018-09-25 09:35] ptman opened #142 "panic: runtime error: slice bounds out of range"
When running `revel version` outside of $GOPATH. Also, even though I tried to clean out sources, binaries and packages, and then installed revel using `go get -u -v github.com/revel/cmd/revel`, I get this from `revel version` (inside $GOPATH):

[code]

I'm sure it was built today, not 2018-02-06.

[2018-09-25 16:38] ptman commented on #139
There is now vendoring with dep in revel 0.20. That should help with this in the future, right?

[2018-09-27 13:55] Emyrk commented on #139
Sorry for the delay in my response. I was able to do some manual dependency management to downgrade revel.

I can get the error logs again later tonight/tomorrow, but it had to do with the revel/modules directory I believe. I ended up checking out the v0.19.0 of `revel/modules`, `revel/cmd`, and `revel/revel`

@ptman If there is vendoring now in 0.20 than that would solve my issues yes. I'll take

[2018-09-28 13:30] amitsharma8891 commented on #142
getting the same error.

[2018-10-05 13:16] rami-dabain opened #147 "Latest changes break revel"
just updated revel, created a new package

without changin anything, ran revel run (my pacakge name)

 source_info.go:100: Type found in package: controllers, but did not embed from: revel.Controller name=FileInformation importpath=github.com/revel/modules/static/app/controllers foundstructures=Static,TestRunner,App

I can't find the "FileInformation" struct anywhere in my src directory let alone

[2018-10-05 13:20] #147 closed

[2018-10-05 13:20] rami-dabain commented on #147
updated the CMD, forgot to update revel itself

[2018-10-09 11:25] usk83 opened #149 "panic occurs when trying to execute `revel run` on a specific case"
## Overview

If there is a function which takes an argument of type interface{} in controller layers, it would be panic when executing `revel run`.

## Reproduction procedure

The following is an example procedure to reproduce this problem.

1. Set up Revel tools.

[code]

2. Initialize skeleton application with `revel new -a XXX`
3. Add following code into app/controllers/app.go.

[code]

4. Run

[2018-10-09 13:57] rami-dabain opened #150 "latest update breaks everything"
Fresh revel install on a fresh system:
revel package doesnt produce anything usefull
missing importPath in run.sh script, if fixed manually by adding the correct import, the executable just dies without any warnings/errors or anything.

[2018-10-30 09:21] bevand10 opened #160 "revel new is broken behind a corporate proxy"
Scenario:

[code]

The process just hangs, going no-where.

SSH access (and therefore `git clone git://`) is also behind a socks proxy - the likely culprit here.

You might want to consider using `git clone https://` which might work better in a http/https proxy environment.

[2018-10-30 11:32] notzippy commented on #160
In the next release the default method is `git clone  https:// ...`

[2018-10-30 11:32] #160 closed

[2018-10-30 11:36] notzippy commented on #150
There was an issue in the template which was corrected. This should be resolved now - if not feel free to reopen

[2018-10-30 11:36] #150 closed

[2018-10-30 13:14] notzippy commented on #149
Thanks for the detailed analysis and explanation. With the latest develop branch I have not been able to repeat this error. Please reopen if this is not the case

[2018-10-30 13:14] #149 closed

[2018-10-30 13:16] #141 closed

[2018-10-30 13:16] #140 closed

[2018-10-30 13:17] notzippy commented on #139
Closing due to no further response

[2018-10-30 13:17] #139 closed

[2018-10-30 13:18] notzippy commented on #67
This is now happening

[2018-10-30 13:18] #67 closed

[2018-10-30 13:18] #142 closed

[2018-10-30 15:11] usk83 commented on #149
OK, I'll check the latest develop branch later.

[2018-10-30 16:20] notzippy commented on #149
Develop has merged to master, so with an update you should have the latest

[2018-10-31 07:40] usk83 commented on #149
I've tested this problem with the latest version of Revel and Confirmed it didn't occur anymore.

On the other hand, the warning message that gets displaying again looks just a bit strange, because of some format strings left behind.

This is an example warning message.

[code]

Anyway, thank you for the great updates!

[2018-10-31 19:55] notzippy commented on #149
Ok, thanks for the update @usk83 - I have [updated the log message](https://github.com/revel/cmd/pull/161/files#diff-a580d3be99add116f7b34ba4ca1da2fdR137) and will likely push out a patch to the revel command (more to address some issues in windows that were hard to identify without a deployment) see #161

[2018-11-11 03:29] vikram-rawat opened #166 "Can I build a single windows binary"
This feature can help me run it on a windows server. Or create basic app for windows user.

Can I build a single binary for windows. Which will run without golang installed.

If so please tell me how.

[2018-11-13 23:20] notzippy commented on #166
Yes, with cavets. You can build to a single binary using the tool [build or package](http://revel.github.io/manual/tool.html#build) option. This creates a single executable for the application - but the application still needs the configuration file and the template files. We are looking into ways that everything could be bundled as one (or maybe two) files.

[2018-11-15 13:50] rami-dabain commented on #150
Yup still broken.
I think the issue is only when you have an older project and you update revel

INFO  14:49:38 command_config.go:152: Returned import path                     buildpath=/go  path=okitoo/hackers_reloaded/main
INFO  14:49:38   file.go:346: Seeking app package                      app=okitoo/hackers_reloaded/main
INFO  14:49:38   file.go:354: Seeking remote package

[2018-11-15 13:54] rami-dabain opened #167 "revel package has issues"
When updating revel, the revel package command is broken

revel package okitoo/hackers_reloaded/main prod -v
INFO  14:49:38 command_config.go:152: Returned import path                     buildpath=/go  path=okitoo/hackers_reloaded/main
INFO  14:49:38   file.go:346: Seeking app package                      app=okitoo/hackers_reloaded/main
INFO  14:49:38   file.go:354: Seeking remote package

[2018-11-15 13:57] rami-dabain commented on #166
@notzippy go-bind as a neat solution

[2018-11-16 23:16] notzippy commented on #166
Seems like most of the solutions like gobind, packr convert the code into Go files in order to store it in the executable. IMO it may be best to package the data using a single resource file and a single binary file.

[2018-11-17 22:39] notzippy commented on #167
So it appears that if you are having this issue because some dependent packages were not already downloaded. If you do a `revel run  okitoo/hackers_reloaded/main` does it work properly ?

[2018-12-03 18:11] Fyb3roptik opened #168 "Module testing does not segregate the tests by a namespace, so similarly named modules will have an issue"
Adding this here. Please move it if it needs to be in a different repo!

[2018-12-03 18:51] notzippy commented on #168
This issue was moved to revel/revel#1412

[2018-12-03 18:51] #168 closed

[2018-12-10 13:35] rami-dabain commented on #167
Can't reproduce this anymore. Just like you said, there were missing packages that only "revel new" fetches but not 'revel package' (not sure about revel run and can't reproduce/try now).
This issue should be trivial

[2018-12-12 11:44] hwsoderlund opened #169 "Problem with vendoring"
I tried to update revel/cmd to the latest version just now, and there seems to be a problem when the modules package is situated in the vendor folder. This is what the output says:

And this is the line it complains about:

[code]

I'm not sure exactly what the problem is, so I don't think I will be able to help with solving it.

[2018-12-20 01:57] elijin0628328 opened #170 "When I create new revel project, it aborts with error"
I wanna fix this.
When I create new revel project, it aborts with this output

Revel executing: create a skeleton Revel application
CRIT  17:55:06 command_config.go:286: Abort: could not create a Revel application outside of GOPATH.

[2018-12-20 02:00] elijin0628328 commented on #170
the command I excute is :  sudo revel new TestAPI
and I'm in GOPATH correctly.

[2018-12-21 17:03] notzippy commented on #170
Do not run command as sudo, this is not needed

[2019-01-07 11:06] hwsoderlund commented on #169
I would very much appreciate some feedback here. This is preventing us from upgrading to the latest version.

[2019-01-08 19:36] notzippy commented on #169
Hi sorry for the delay - holidays and busy time at work. Hmm that go import path looks completely wrong. Where is your app folder with respect to your vendor folder ?

[2019-01-08 19:37] notzippy commented on #170
No response, closing

[2019-01-08 19:37] #170 closed

[2019-01-08 21:56] hwsoderlund commented on #169
Hi, and thanks for getting back. The vendor folder is actually one level up from the revel root folder. So pretending our revel application is here:

[code]

Then the vendor folder is here:

[code]

So you think the location of the vendor folder could be a problem? Unfortunately I don't think we can move things around, not easily anyway.

[2019-01-08 22:08] brendensoares opened #171 "`revel new` non-skeleton default `app.conf.template`"
Notes from gitter chat:

https://github.com/revel/cmd/blob/master/revel/new.go
https://github.com/revel/cmd/blob/master/revel/new.go#L202
https://github.com/revel/skeletons/blob/master/basic/bootstrap4/conf/app.conf.template

@notzippy  should we allow skeletons to control the app.conf template?

if we add more official templates, e.g. zurb’s foundation, etc, we’ll have to maintain multiple app.co

[2019-01-09 10:46] hwsoderlund commented on #169
Oh, and just FYI, this worked fine in version 0.20.

[2019-01-15 23:40] notzippy commented on #171
What about a "base" app.conf.template in the skeletons project ? then all app.conf.template files could import that base one and then there would be no need to worry about having multiple templates to update ?

[2019-01-22 07:52] runner-mei opened #172 "why not use github.com/revel/revel/logger?"
why not use github.com/revel/revel/logger?
can  github.com/revel/cmd/logger remove, and replace with github.com/revel/revel/logger?

[2019-01-23 18:15] Steve-hyas commented on #172
The reason for the package in both locations was so the two repositories were not dependent on each other.

[2019-01-23 18:17] notzippy commented on #172
We do not want the cmd project dependent on the revel project. This causes a lot of headaches

[2019-01-23 18:17] #172 closed

[2019-01-30 00:10] notzippy commented on #166
Currently revel requires the package to be unpacked in order to run - For best practices it should be used running on a server, then multiple people can access it from a single point. So if you are running it in your organization it should be placed on a server so that everyone can access easily without installing or running anything on their workstations..

[2019-01-30 00:10] #166 closed

[2019-04-23 10:33] cytown opened #174 "Could not find import issue"
https://github.com/revel/cmd/blob/149f9f992be9b0957fb1ffeda43c14a123ceb43a/parser/reflect.go#L172

ERROR 18:11:02 reflect.go:172: Could not find import:                    path=os srcPath=/Users/demo/go/src/demo/app/controllers error="cannot find package \"os\" in any of:\n\t/usr/local/Cellar/go/1.12/libexec/src/os (from $GOROOT)\n\t/Users/demo/go/src/os (from $GOPATH)"

It exists for such a long

[2019-06-30 11:07] dre2004 opened #175 "Can't create a new app on Windows"
Hello,

I've just installed revel and I can't seem to create a new app.

OS: Windows 10 (1803)
Revel executing: displays the Revel Framework and Go version
WARN  21:03:59 version.go:71: Unable to extract version information from Revel library error,err=nil LOG15_ERROR="Normalized odd number of arguments by adding nil"
Revel Framework :       Unknown (0.21.0 remote master branch)
Revel Cmd       :

[2019-07-02 21:40] notzippy commented on #175
Are you sure your GOPATH is correct when you are trying that command ? The error ` GOPATH. PS C:\Users\username\go` indicates that the GOPATH is only  `C:\Users\username\go`

[2019-07-04 12:51] dre2004 commented on #175
Yes, that is the correct path.

I've tried the following permutations

- GOPATH=C:\Users\username\go;C:\code\go; ** This is what I have been using for months **
- GOPATH=C:\Users\username\go; ** I tried to create a new project within the src sub directory in this path **
- GOPATH=C:\code\go; ** I tried this as a last option by moving my go install to this directory **

In all three cases I got the

[2019-07-23 08:16] ptman opened #177 "Support go modules (go.mod) instead of dep"
I hope this is the right place for this ticket

[2019-08-14 22:25] larrywest42 commented on #167
FYI, to reproduce, start as a new user or fresh computer and follow the Quick Start steps on the [revel.github.io](https://revel.github.io) page  &mdash; _in a directory other than_ `$GOPATH`:
[code]
and the result (on MacOS 10.14.6 with go 1.12.7):
[code]

[2019-08-30 21:43] eparziale commented on #177
@notzippy
Are there any plans to update revel cmd to support projects that use go modules instead of dep?

My team has used revel for the past year and has been very happy with the framework.

Until recently, we didn't need a proper dependency management tool like dep or go modules. (Instead we just maintained a list of required packages, and ran go get <pkg name> to fetch HEAD of each package)

H

[2019-08-31 06:42] ptman commented on #177
We are using dep. I don't think revel will work with go modules currently. But @notzippy is working on go modules support and go modules can migrate from dep.

[2019-09-01 02:28] eparziale commented on #177
Understood. We'll use dep.

Thanks for the info!

[2019-09-29 18:15] bencagri opened #184 "Failed to find Revel version"
Hi guys, Im having a problem similar to revel/revel#1419

[code]
this part doesnt seem correct to me
open /Users/macbook/Development **/go/pkg/mod/github.c/github.com/revel/revel/version.go**
[code]

I tried `go get -u github.com/revel/cmd` but still same. any ideas?

Go env:
[code]

[2019-11-07 02:48] dudochkin-victor opened #183 "revel package"
Hi guys.
About the "revel package" command.
Revel builds the distribution in the /tmp folder. You need to delete the build folder from /tmp after creating the archive.
Because, as standard for Linux /tmp, it is a tmpfs file system located in memory.
At the moment, if you build the package several times, then there will be out of memory ..
Fix it pls asap.

[2020-04-14 08:18] ptman commented on #177
#180

[2020-04-30 04:08] ptman opened #182 "Create docker image or dockerfile"
I think I've seen people request this several times.

Here's some scattered info:

- https://github.com/revel/revel/issues/845
- https://github.com/revel/cli/issues/1
- https://github.com/notzippy/FrameworkBenchmarks/tree/master/frameworks/Go/revel
- https://github.com/revel/revel/wiki/Roadmap
- https://jbeckwith.com/2015/05/08/docker-revel-appengine/

[2020-05-03 22:28] notzippy commented on #174
I have rewritten the reflection package now and it should be resolved on develop branch

[2020-05-04 04:44] notzippy commented on #175
I have rewritten the command line tool to address this issue

[2020-05-21 20:40] lexxy23 commented on #184
I also have this issue. Seems that the "path finder" for the revel command is broken:

`INFO  22:38:57   revel.go:94: Returned import path                     path=gitlab.com/ds2-internal/on-air buildpath=/Users/dstrauss/go
INFO  22:38:57 command_config.go:301: Seeking app package                      app=gitlab.com/ds2-internal/on-air
INFO  22:38:58 command_config.go:301: Seeking remote package

[2020-05-21 20:54] lexxy23 commented on #184
On a side note: the latest develop seems to fix this issue:

* go get -u github.com/revel/cmd/revel@develop

and it finally works. Thx ;)

[2020-07-14 05:03] notzippy opened #189 "Mode flag failing"
When mode flag is specified the app path is incorrect

[2020-07-14 05:34] notzippy commented on #189
This isnt a mode flag issue, it is a run issue where the `watch=true` vs `watch=false` When `true` the application starts the harness using the `start` function https://github.com/revel/cmd/blob/master/revel/run.go#L140 when `false` the run command is called directly which is not properly initiating the run command

[2020-07-14 05:36] notzippy commented on #189
Fixed in commit https://github.com/revel/cmd/pull/188/commits/ebc9c73ba0099fdbf18ed9223088eedcc81b7f23
[code]

[2020-07-14 09:01] lujiacn opened #190 "Arg types in generated routes.go and run.go"
One issue is about the controller arg type.
eg: controller method
[code]
before 1.0, generated routes.go using interface{}
[code]
But for 1.0, generated routes using bson.ObjectId, before generate routes.go, app will terminate at line 224, "source_info_processor.go"
[code]

If ignore the Logger.Fatalf, generate routes.go is using bson.ObjectId as type instead of interface{} in old version
[code]

[2020-07-14 19:47] notzippy opened #191 "test suite issue"
No tasks were being picked up by the test suite,
Resovled :https://github.com/revel/cmd/pull/188/commits/c7f4307a5daf1297e7ec14cb091f8a08de4806ad

[2020-07-14 20:16] #189 closed

[2020-07-15 00:51] notzippy commented on #190
Thanks for the example, Ill look and see if I can resolve this issue quickly

[2020-07-15 04:51] notzippy commented on #190
@lujiacn See PR #192  I think this will resolve your issue, if the test suite works Ill make a new release in 12 hours

[2020-07-15 05:10] #190 closed

[2020-07-15 05:12] notzippy commented on #190
Its merged on master (tag v1.0.2)

[2020-07-15 15:44] lujiacn commented on #190
Thank you @notzippy, no issue for my project now :)

[2020-07-15 15:53] notzippy opened #193 "Inconsistent behavoir between revel run and revel test"
However, revel run dev will only work if we are in parent dir of [proj]. i.e. if I have dir structure /go/src/[proj], I can run revel run [proj] dev when I am in /go/src dir.

However, if I am in another dir I need to run revel run -a /abs/path/to/[proj] dev in order to properly find the app.
See
https://github.com/revel/revel/issues/1501#issuecomment-658840129

[2020-07-16 15:37] #191 closed

[2020-07-16 15:37] #184 closed

[2020-07-16 15:38] notzippy commented on #183
`revel package` command now uses a folder within the project called target to build the project

[2020-07-16 15:38] #183 closed

[2020-07-16 15:39] #177 closed

[2020-07-16 15:39] #175 closed

[2020-07-16 15:39] #174 closed

[2020-07-16 15:40] notzippy commented on #169
Revel now uses go.mod

[2020-07-16 15:40] #169 closed

[2020-07-16 15:41] notzippy commented on #167
Now resolved with go.mod addition

[2020-07-16 15:41] #167 closed

[2020-07-20 08:45] PerrorOne opened #194 "Failed to parse port as integer: %!s(int=-1)"
system：
```Windows 10```

go version
```go version go1.13.3 windows/amd64```

go env:

[code]
revel version:
[code]

start project cmd:
[code]
ouput:
[code]

run project cmd:
[code]

ouput:
[code]

[2020-07-20 22:34] notzippy commented on #194
This behavior does not occur in go 1.14.2, it appears that this line https://github.com/revel/cmd/blob/master/revel/run.go#L78 is passing so that the conversion from the third argument is attempted and fails. Please either upgrade Go or use the flags to prevent this from occurring like

[code]

[2020-07-25 20:23] goevexx commented on #194
It also occurs in 1.14.6

[code]

[code]

[2020-08-03 14:38] lenghan4real opened #195 "support go modules, panic: runtime error: invalid memory address or nil pointer dereference"
go mod with dependency like golang.org/x/unix

[signal SIGSEGV: segmentation violation code=0x1 addr=0x8 pc=0x11d225d]

goroutine 59 [running]:
go/ast.Walk(0x16aca80, 0xc010629260, 0x16afa60, 0x0)
	/Users/han/.gvm/gos/go1.13.5/src/go/ast/walk.go:224 +0x1b4d
go/ast.Inspect(...)
	/Users/han/.gvm/gos/go1.13.5/src/go/ast/walk.go:385
github.com/revel/cmd/parser2.(*SourceInfoProcessor).getValidation(0xc

[2020-08-07 14:40] notzippy commented on #195
Can you give a short example? I tried a controller like this and was able to compile without issues
[code]

[2020-09-07 01:29] yuki2006 opened #196 "If the test command fails to assert, set the Exit Status to non-zero."
If an assert fails in a test subcommand, it's not safe for automatic builds or deployments because the command can't tell if it's a success or a failure.

I would suggest setting the Exit Status to non-zero when an assert fails.

[code]

[2020-09-09 10:34] teitei-tk opened #197 "build command generates unnecessary files"
I have created one simple Revel Application.

When I run the build command, it generates an unnecessary directory called target in application-path and a binary file in it. I read the code and could not figure out why.

Here are the steps to reproduce it.

https://github.com/teitei-tk/revel-cmd-example

[code]

[2020-09-25 07:52] teitei-tk commented on #197
https://github.com/revel/cmd/issues/197

[2020-09-25 07:52] #197 closed

[2020-10-09 08:00] r32rf opened #198 "Harness Compilation error page has status 200 OK"
When Harness responds with a compilation error, it generates the page with 200 OK.
https://github.com/revel/cmd/blob/master/harness/harness.go#L137
[code]
It would probably be best to call `w.WriteHeader(http.StatusInternalServerError)`.

This issue affected me in a AJAX handler that triggered the success callback on a compilation error with the HTML as a string rather than the decoded JSON object

[2021-04-18 22:30] 12mohaned opened #202 "command not found"
After installing both packages.

[code]

When I type revel in terminal, it does output the following message.
**-bash: revel: command not found**

This is my bash_profile.

export GOPATH=/Users/$USER/go
export PATH="$PATH:$GOPATH/bin"

[2021-05-08 05:23] fmbiete opened #203 "Dependency not found - github.com/myesui/uuid"
[code]

github.com/myesui/uuid has been removed. Shouldn't we update/remove that dependency?

[2021-05-14 02:25] ian-grant commented on #202
I'm a brand-new Revel user, and had the same problem. I solved it by hunting around, and finally finding the "revel" binary (U ran `go build` and `go install`, first)in a weird place due to a typo in my $GOPATH. I then moved the binary to the $GOPATH/bin directory, restarted my shell and it seemed to work!

Because it wasn't in any known path, `which revel` didn't find it, which is why I went hunt

[2021-09-23 08:30] sebdah opened #206 "revel run nil pointer dereference"
Hi,

I'm getting the following after a clean setup of a new project. I ran `revel new X`, and also `go mod vendor` to solve an issue with memcached not being found.

[code]

This is with the following version:

[code]

Any suggestions on what I should do to resolve this?

[2021-09-23 15:34] #206 closed

[2021-12-29 17:11] leonjia0112 opened #207 "Installation command doesn't work"
Inside the readme file, the installation comment doesn't work with the error
[code]
This works
[code]

[2022-02-02 03:34] brendensoares commented on #206
@sebdah did you resolve it?

[2022-02-02 10:03] sebdah commented on #206
I don't remember unfortunately 😬

[2022-02-12 20:24] brendensoares commented on #203
Looks like the referenced repo has moved, but we already have an alternative import path for a `uuid` package. Seems #205 is the best solution, though we could also use [Google's uuid package](https://github.com/snowplow/snowplow-golang-tracker/issues/59).

[2022-02-13 02:53] brendensoares commented on #202
@12mohaned try `cd $GOPATH` to see if the env var resolves correctly.

[2022-02-13 02:53] #202 closed

[2022-02-13 03:15] brendensoares commented on #203
I've added detailed findings to #205 and closed it as it is not the ideal solution. I am working now to update Revel's session handler to use the google `uuid`.

[2022-02-13 03:34] brendensoares commented on #207
Ok, so the fix for this is simple and non-technical. I just need to update the README and Revel manual.

Thanks for calling this out @leonjia0112. I'm working to get Revel well maintained again and **trying to recruit more core contributors**. Let me know if you know anyone interested in shaping Revel's future!

[2022-02-25 05:37] ptman commented on #203
https://github.com/gofrs/uuid if it works

[2022-03-01 05:37] #207 closed

[2022-03-01 05:38] #203 closed

[2022-04-12 14:28] servel333 commented on #202
I had to run this to get it to work

`go build github.com/revel/cmd/revel`

And then the binaries appeared in the `$GOBIN` path.

You can check `go env` to see what your paths are.

[2022-05-17 18:19] dandare100 opened #219 "Validation Key Index Line Number Mismatch"
Hello

The field level error messages are not working when the "validation checks" span multiple lines in the validate code.
This is because the run.go (which holds the revel.DefaultValidationKeys) is generated using the "end" line number of the Check function but the validation.go revel file is expecting it to be keyed on the first/starting line number. It suspect it affects the booking example t